:root{
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --pupurple:#828dff;
    --teal:#24feee;

}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
}
.stats-container
{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--teal);
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
}
.details
{
width: 100%;
}
#progressBar
{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}
#progress
{
    width:0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers
{
width: 100px;
height: 100px;
background-color: var(--pupurple);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
font-size: 30px;
font-weight: bold;
}
form
{
    margin-top: 40px;
    width:100%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 10px;
    background: var(--secondaryBackground);
    border: 1px solid var(--pupurple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--pupurple);
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
    outline: none;
     border: none;
    cursor: pointer;
}
#task-list
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
}
.taskItem
{
  width: 100%;
  display: flex;
  background-color: var(--secondaryBackground);
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.task{
  display: flex;
  align-items: center;
  gap: 10px;
}
.task input{
width: 24px;
height: 24px;
}
.completed p{
  text-decoration:line-through ;
  color: var(--teal);
}

.taskItem img{
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
}
